.side-nav li a {
  font-weight: bold;
}

.side-nav li p {
  margin-left: 10px;
}

.top-bar a {
  font-size: 1.0625em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 15px;
}